<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Travel Planning App</title>
  </head>
  <body>
    <!-- <h1>Plan Your Trip</h1>
    <p>Where are you going next?</p>
    <nav>
      <ul>
          <li>
              <a href="/trips">Planned Trips</a>
          </li>
          <li>
              <a href="/trips/new">Add New Trip</a>
          </li>
      </ul>
  </nav> -->

  <nav>
    <div id="destinations">
      <p><i class='bx bxs-plane-take-off' ></i> Travel Planner Pro</p>
    </div>
    <div id="actions">
      <p>Sign in</p>
      <button>Sign up</button>
    </div>
  </nav>

  <section id="hero">
    <div id="headers">
      <h1>Plan a new trip</h1>
      <h2>Where are you going next?</h2>
    </div>

    <div id="trips">
      <a href="/trips/new">Add New Trip</a>
      <a href="/trips">Planned Trips</a>
    </div>
  </section>


  </body>
</html>
