<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Edit Trip</title>
</head>
<body>
    <nav>
        <div id="destinations">
          <p><i class='bx bxs-plane-take-off' ></i> Travel Planner Pro</p>
        </div>
        <div id="actions">
          <a href="/">Plan a Trip</a>
          <p>Sign in</p>
          <button>Sign up</button>
        </div>
      </nav>

    <h1>Edit <%= trip.destination %></h1>
        <ul>
            <li>
                <a href='/trips/'>Back to Trips</a>
            </li>
        </ul>
    <form action="/trips/<%= trip._id %>?_method=PUT" method="POST">
        <label for="destination">Where to?</label>
        <input type="text" name="destination" id="destination"  placeholder="ex. Thailand, Monterey">

        <label for="name"><i class='bx bx-calendar'></i> Depart</label>
        <input type="date" name="startDate" id="startDate">

        <label for="name"><i class='bx bx-calendar'></i> Return</label>
        <input type="date" name="endDate" id="endDate">
        <button type="submit">Update Trip</button>
    </form>
</body>

</html>