<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Trips Index</title>
  </head>
  <body>
    <nav>
      <div id="destinations">
        <p><i class='bx bxs-plane-take-off' ></i> Travel Planner Pro</p>
      </div>
      <div id="actions">
        <a href="/">Plan a Trip</a>
        <p>Sign in</p>
        <button>Sign up</button>
      </div>
    </nav>

    <h1>All Trips</h1>
    <ul>
      <% trips.forEach(trip => { %>
        <li>
          <a href="/trips/<%= trip._id %>"> <%= trip.destination %> </a>
        </li>
      <% }); %>
    </ul>
  </body>
</html>

